/* Images box Design */
#products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  margin-top: 25px;
  font-weight: bold;
}

.img-box1 {
  width: 100%;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.images {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.h6 {
  font-size: 15px;
  color: black;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
}
.images:hover {
  border: 2px solid green;
}

@media (min-width: 768px) {
  #products {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 2560px) {
  #products {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 480px) {
  #products {
    grid-template-columns: repeat(3, 1fr);
  }
  .img-box1 {
    width: 100%;
    height: 90px;
  }
  h6 {
    font-size: 15px;
  }
}
@media (min-width: 1440px) {
  #products {
    grid-template-columns: repeat(6, 1fr);
  }
  .img-box1 {
    width: 100%;
    height: 120px;
  }
  h6 {
    font-size: 16px;
  }
}

@media (min-width: 1300px) {
  #products {
    grid-template-columns: repeat(6, 1fr);
  }
  .img-box1 {
    width: 100%;
    height: 120px;
  }
  h6 {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  #products {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .img-box1 {
    width: 100%; /* makes the image container take full width */
    max-height: 90px !important; /* restricts height */
    object-fit: cover; /* ensures the image scales nicely */
  }

  h6 {
    font-size: 14px; /* smaller heading size for narrow screens */
    line-height: 1.4; /* optional for better readability */
  }
}
.Herosection_2 {
  height: auto;
  background-color: rgba(220, 218, 218, 0.85);
  margin-bottom: 20px;
}

.Herosection_3 {
  height: 520px;
  background-color: rgba(220, 218, 218, 0.85);
}

.card-title {
  margin-top: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card-text{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer a.text-white:hover {
  color: #ffc107 !important;
  text-decoration: underline;
}
.footer{
    background-color: #343a40 !important;

}

.h5{
   border-bottom: 3px solid #ffffff !important;
}

.h3{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}